$primary-color: #32365b;
$secondary-color: #d74d43;
$tertiary-color: #733594;
$text-color: #f8f1fa;
$base-font: 'Josefin Slab', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$base-heading-font: 'Shrikhand', cursive;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  tertiaryColor: $tertiary-color;
  textColor: $text-color;
}